.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.screen-header__icons .badge {
  position: absolute;
  right: 35px;
  top: 40px;
  width: 5px;
  height: 5px;
}
